body {
	background-color: #F8F8F8;
	color: #333;
	font-family: "Fira Sans", sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5 {
	font-weight: 300;
}
a {
	color: #177EE5;
	text-decoration: none;
}
a:not(.button):hover {
	text-decoration: underline;
}
/* Theme variable here */
.glyph {
	font-size: 16px;
	color: #177EE5;
}

/* Checkbox and radio styles */
.checkbox, .radio {
	cursor: pointer;
}
.checkbox input, .radio input {
	display: none;
}
.checkbox label, .radio label {
	cursor: inherit;
	-moz-user-select: none;
	user-select: none;
}
.checkbox input + .glyph,
.radio input + .glyph {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 0.1em solid rgba(0,0,0,0.2);
	background-color: #FFF;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	box-sizing: border-box;
}
.checkbox input + .glyph {
	border-radius: 0.125em;
	transition: background 0.2s;
}
.checkbox input:checked + .glyph,
.checkbox input:indeterminate + .glyph {
	background-color: currentColor;
	border-color: currentColor;
}
.checkbox input:indeterminate + .glyph::before {
	content: "";
	display: block;
	margin: calc(50% - 0.05em) 10%;
	height: 0.1em;
	width: 80%;
	background-color: white;
}
.checkbox input:not(:indeterminate) + .glyph::before {
	content: "";
	height: 0.25em;
	left: 50%;
	border-color: transparent;
	border-style: solid;
	border-width: 0px 0px 0.15em 0.15em;
	margin-left: -0.37em;
	margin-top: -0.27em;
	position: absolute;
	top: 50%;
	width: 0.6em;
	transform: rotate(-50deg);
	border-radius: 0.01em;
}
.checkbox input:checked + .glyph::before {
	border-color: white;
}
.radio input + .glyph {
	border-radius:100%;
	box-sizing: border-box;
	transition: border-color 0.3s, border-width 0.07s;
}
.radio input:checked + .glyph {
	border: 0.25em solid currentColor;
}
/* Buttons */
.button {
	background-color: transparent;
	border: 0.1em solid transparent;
	padding: 4px 10px;
	box-sizing: border-box;
	height: 30px;
	vertical-align: top;
	border-radius: 0.125em;
	font-size: 14px;
	font-family: "Fira Sans";
	transition: all 0.07s;
	cursor: pointer;
}
.button:not(.borderless) {
	background-color: #EDEDED;
	border-color: #D1D1D1;
}
.button:hover {
	background-color: #E3E3E3;
	border-color: #D1D1D1;
}
.button:active {
	background-color: #DDDDDD;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.button.primary {
	background-color: #177EE5;
	color: white;
	border-color: transparent;
}
.button.primary:hover {
	background-color: #1677D8;
}
.button.primary:active {
	background-color: #1571CE;
}
.button.special {
	background-color: #55D00D;
	color: white;
	border-color: transparent;
}
.button.special:hover {
	background-color: #50C40C;
}
.button.special:active {
	background-color: #4CBB0C;
}
/* Button group */
.button-group {
	clear: both;
}
.button-group > * {
	margin-left: -1px;
	float: left;
}
.button-group > *:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.button-group > :first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.button-group > :last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* Inputs */
.input {
	box-sizing: border-box;
	height: 30px;
	padding: 4px 10px;
	font-size: 14px;
	font-family: inherit;
	border: 0.1em solid #D1D1D1;
	border-radius: 0.125em;
	color: #333;
}
.input:hover {
	border-color: #BCBCBC;
}
.input:focus {
	border-color: #177EE5;
}
/* Navigation */
.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #FDFDFD;
	color: #424F5A;
	display: inline-block;
}
.nav:not(.dark) {
	border: 1px solid rgba(0,0,0,0.1);
}
.nav.dark {
	background-color: #424F5A;
	color: #FBFBFB;
}
.nav li {
	transition: all 0.2s;
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	-moz-user-select: none;
	user-select: none;
}
.nav:not(.vertical) li {
	display: inline-block;
	float: left;
}
.nav li:hover {
	background-color: #F1F1F1;
}
.nav li:active,
.nav li.selected {
	background-color: #EBEBEB;
}
.nav li.selected {
	box-shadow: 0px -4px 0px 0px #FF9500 inset;
}
.nav.vertical li.selected {
	box-shadow: 4px 0px 0px 0px #FF9500 inset;
}
.nav.dark li:hover {
	background-color: #5E6972;
}
.nav.dark li.selected,
.nav.dark li:active {
	background-color: #343F48;
}